<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Upload Image
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div [display]="'flex'">
    <button ly-button color="primary" (click)="_fileInput.click()">
      <span>Select File</span>
    </button>
    <span [flex]="1"></span>
    <!-- Hidden input -->
    <input #_fileInput type="file" (change)="fileChangeEvent($event)" (change)="cropper.selectInputEvent($event)" accept="image/*" hidden>
    <button raised ly-button bg="accent" (click)="cropIt()" *ngIf="cropper.isLoaded" (click)="cropper.crop()">Upload</button>
  </div>
  
  <ly-img-cropper [ngClass]="[classes.cropper, classes.cropCircle]" 
    [config]="myConfig"
    [(scale)]="scale"
    (cropped)="onCropped($event)"
    (error)="onError($event)"
  >
    <span>Drag and drop image</span>
  </ly-img-cropper>
</ion-content>

